.app{
    width: 60vw;
    margin: 2rem auto;
    background-color: #7d7d7d;
    border-radius: .5rem;
}

.todo_header{
    padding: .5rem;
    border-bottom: 1px solid #2c3035;
    text-align: center;
}

.todo_header h1{
    margin: 0;
}

.todo_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:.6rem;
    margin-bottom: .4rem;
    border-bottom: 1px solid #2e3035;
}
.todo_form p{
    font-size: 2rem;
}
.todo_form form{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.todo_control{
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    margin-bottom: .5rem;
}

.todo_control label{
    font-weight: bold;
    font-size: .7rem;
    margin-bottom: .4rem;
}

.todo_control input{
    border: 2px solid #222;
    border-radius: .5rem;
    background-color:#a3a3a3 ;
    padding: .4rem;
    color: #222;
}

.todo_list{
    margin-bottom: .6rem;
    padding: .2rem;
}

.todo_list p{
    text-align: center;
}

input[type="submit"]{
    background-color: #333;
    color: #eee;
    display: block;
    width: 100%;
    border:  2px solid #222;
    border-radius: 1rem;
    cursor: pointer;
}

.todo{
    display: flex;
    justify-content: space-around;
    padding: .5rem 0; 
    margin: .5rem;
    border-radius: 5px;
    border-bottom: 2px solid black;
}

.todo h3{
margin-bottom: .5rem;
}

.todo-done{
    text-decoration: line-through;
    color: rgb(240, 98, 146);
}

.todo p{
    font-style: italic;
    font-size: .8rem;
    margin-bottom: .5rem;
}

.todo svg{
    font-size: 1.2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.todo svg:hover{
    color: rgb(8, 89, 240)
}